@model Minesweeper.Models.BoardModel

<style>
    .board{
        display:grid;
        grid-auto-rows: 50px;
        grid-template-columns: repeat(@Model.Size[0], 50px);
    }
    .cell{
        width:50px;
        height:50px;
        padding: 0;
        margin: 0;
        border: none;
    }
    .cell:hover{
        cursor:pointer;
        opacity:50%;
    }
    .icon{
        width:50px;
        height:50px;
        display: block;
    }

    .saved-game:hover{
        cursor:pointer;
        color:green;
        border:solid;
        border-radius:10px;
    }

    .saved-game.selected {
        cursor: pointer;
        color: green;
        border: solid;
        border-radius: 10px;
    }
    .hide{
        visibility:hidden;
    }

</style>

<p>Current Time: @DateTime.UtcNow</p>

<div>
    <h4 id="game-status">Click to Start Playing!</h4>
    <div id="game-board">
        @await Html.PartialAsync("UpdateBoard", Model)
    </div>
    <button class="btn btn-primary" id="save-game">Save Game</button>
    <button class="btn btn-danger hide" id="delete-game">Delete Game</button>
</div>

<div>
    <h4>Saved Games</h4>
    <div>
        <ul id="saved-games">

        </ul>
    </div>
</div>
